'context-menu':
  'atom-workspace': [
    label: 'Shell It' 
    command: 'shell-it:open'
  ]
  
menu: [
    label: 'Packages'
    submenu: [
      label: 'Shell It'
      command: 'shell-it:open'
    ]
]
